doctype html
html
    head
        title SumpassParking Test App
        <meta name="viewport" content="width=600px, user-scalable=no">
        <script type="text/javascript" src="https://dwww.busanbank.co.kr/resource/js/jquery/jquery-2.2.4.min.js"></script>
        <script type="text/javascript" src="https://dwww.busanbank.co.kr/resource/js/jquery/jquery.urldecoder.min.js"></script>
        <script type="text/javascript" src="https://dwww.busanbank.co.kr/resource/js/cmm/util/ivySumpassUtil.js"></script>

    body

h1 SumpassParking Test App

ul
    li CI Value :
        span=ci
    li sumacno :
        span=sumacno


script.
    var ci = "#{ci}";

    $(document).ready(function(){
        doivySumPassInfo(ci, function(data){
            alert("썸패스 최신계좌번호 : "+ data.FRG_DFRY_ACNO);
        });
    });